################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/net8.0-windows
/.vs
